.findkit-blog-archive {
    min-height: 200px;
}

input.findkit-search-blog {
    font-family: inherit;
    width: 100%;
    padding: 1rem;
    border-radius: 2rem;
    background-color: var(--wp--preset--color--light);
    border: 2px solid var(--wp--preset--color--primary);
}

.findkit-blog-archive-error {
    color: red;
}

.findkit-blog-archive-loading {
    height: 0px;
    transition: opacity 0.5s ease-in-out;
}

.findkit-blog-archive-loading p {
    margin: 0;
    padding: 0;
    transform: translateY(-100%);
    text-align: right;
    margin-right: 1rem;
    opacity: 0.5;
}

.findkit-blog-archive-loading.hide {
    opacity: 0;
}

.findkit--container {
    --findkit--brand-color: var(--wp--preset--color--primary);
}

.findkit--hit em {
    background-color: var(--wp--preset--color--primary);
    padding-left: 5px;
    padding-right: 5px;
    color: white;
}

.findkit-preview {
    display: flex;
    flex-direction: column;
}

.findkit-preview img {
    display: flex;
    object-fit: contain;
    max-width: 230px;
    padding-right: 0;
    padding-bottom: var(--wp--preset--spacing--50);
    height: min-content;
}

@media (min-width: 768px) {
    .findkit-preview {
        flex-direction: row;
    }
    .findkit-preview img {
        padding-right: var(--wp--preset--spacing--50);
        padding-bottom: 0;
    }
}

.findkit-preview p {
    margin: 0;
}
.findkit-tag-form {
    margin-top: var(--wp--preset--spacing--20);
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
}

.findkit-tag-form input[type="radio"] {
    display: none;
}

.findkit-tag {
    padding-left: 5px;
    padding-right: 5px;
    font-size: var(--wp--preset--font-size--small);
    font-family: monospace !important;
    border: 1px solid var(--wp--preset--color--primary);
    color: var(--wp--preset--color--primary);
    background-color: var(--wp--preset--color--light);
    border-radius: 15px;
}

.findkit-tag:hover,
.findkit-tag.active,
.findkit-tag-form input:checked + label {
    background-color: var(--wp--preset--color--primary);
    color: var(--wp--preset--color--light);
}

.findkit-hit-tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
}

.findkit-read-more {
    display: flex;
    width: fit-content;
}
